*::-webkit-scrollbar {
    width: 0.4rem;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(148, 152, 160);
    border-radius: 2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #38a169;
    outline: 1px solid slategrey;
    border-radius: 2rem;
}

a:hover {
    text-decoration: underline;
}

.logo {
    position: relative;
    cursor: pointer;
    transition: transform 200ms;
}

.logo:hover {
    transform: scale(0.9);
}

.logo:active {
    transform: scale(0.8);
}

/* Inner cricle  */

.logo::before {
    content: '';
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 30px;
    width: 30px;
    opacity: 0;
    background: linear-gradient(#38a1692a, #38a16904);
    border-radius: 50%;
    transition: all 250ms;
}

.logo:hover::before {
    height: 60px;
    width: 60px;
    opacity: 1;
    transition: all 250ms;
}

/* Outter cricle  */

.logo::after {
    content: '';
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 0;
    border-width: thin;
    border: 1px #38a169d7;
    border-style: dashed;
    border-radius: 50%;
    transition: all 250ms;
}

.logo:hover::after {
    height: 80px;
    width: 80px;
    opacity: 1;
    transition: 250ms;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--chakra-colors-green-500); /* Or your desired color */
    transform-origin: 0%;
    z-index: var(--chakra-zIndices-banner); /* Or a high z-index */
    transform: scaleX(var(--scroll-progress, 0));
}

/* blog */

.blog-postbox:hover {
    *:hover {
        text-decoration: none;
    }
}

.rnr-container {
    display: flex;
    flex-direction: column;
}

.rnr-container h1,
.rnr-container h2 {
    text-decoration: none;
    border-bottom: 1px dotted #38a169;
}

.rnr-container p,
.rnr-container ul,
.rnr-container ol,
.rnr-container hr,
.rnr-container img,
.rnr-container h1,
.rnr-container h2,
.rnr-container h3,
.rnr-container h4,
.rnr-container h5,
.rnr-container h6 {
    margin-bottom: 1.5rem;
}

.rnr-container ul,
.rnr-container ol {
    margin-left: 2.5rem;
}

.rnr-container li {
    margin-bottom: 0.5rem;
}

.section-loading + .divider,
.divider + .section-loading {
    display: none !important;
}
